---

- name: Include podman_init_vars.yml from sleif.podman
  ansible.builtin.include_tasks: "{{ lookup('first_found', params) }}"
  vars:
    params:
      files: sleif.podman/tasks/includes/podman_init_vars.yml
      paths: "{{ lookup('config', 'DEFAULT_ROLES_PATH') }}"

- name: Create custom configuration
  become: "{{ podman_rootless | bool }}"
  become_user: "{{ podman_user if podman_rootless | bool else omit }}"
  community.general.ini_file:
    path: "{{ _container_storage_dir_base }}/{{ mariadb_container_name }}/conf.d/custom.cnf"
    section: mysqld
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    # owner: "{{ _owner }}"
    # group: "{{ _group }}"
    mode: '0644'
  loop:
    - {option: 'max_connections', value: '{{ mariadb_container_max_connections }}'}
    # - {option: 'innodb_read_only_compressed', value: 'off'}

- name: Create persistant container directories
  become: "{{ podman_rootless | bool }}"
  become_user: "{{ podman_user if podman_rootless | bool else omit }}"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    # owner: "{{ _owner }}"
    # group: "{{ _group }}"
    mode: '0755'
  loop:
    - "{{ _container_storage_dir_base }}/{{ mariadb_container_name }}/conf.d"
    - "{{ _container_storage_dir_base_local }}/{{ mariadb_container_name }}/var_lib_mysql"

- name: include_role sleif.podman podman_operation podman_create_container for mariadb
  ansible.builtin.include_role:
    name: sleif.podman
    apply:
      tags:
        - podman_container_create
  vars:
    # podman_rootless: true
    # podman_network_name: "{{ podman_networks.podman_network_rootless.podman_network_name if podman_rootless | bool else
    #   podman_networks.podman_network_root.podman_network_name }}"
    podman_operation: podman_container_create
    container_name: '{{ mariadb_container_name }}'
    target: "{{ pod_name if pod_name | d('') is truthy else container_name }}"
    _container:
      name: '{{ container_name }}'
      image:
        name: "{{ mariadb_container_image }}"
        tag: "{{ mariadb_container_image_tag }}"
      network: "{{ podman_network_name if pod_name | d('') is falsy else [] }}"
      pod: "{{ pod_name | default(omit) }}"
      stop_timeout: 90
      volumes:
        - {'host': '{{ _container_storage_dir_base }}/{{ container_name }}/conf.d', 'target': '/etc/mysql/conf.d{{
          container_volumes_parameter | d("") }}', 'mode': '0755'}
        - {'host': '{{ _container_storage_dir_base_local }}/{{ container_name }}/var_lib_mysql', 'target': '/var/lib/mysql{{
          container_volumes_parameter | d("") }}', 'mode': '0755'}
      secrets:
        - {name: '{{ container_name }}_mariadb_password', data: '{{ mariadb_password }}'}
        - {name: '{{ container_name }}_mariadb_root_password', data: '{{ mariadb_root_password }}'}
      env:
        MYSQL_USER: "{{ mariadb_user }}"
        MYSQL_PASSWORD_FILE: "/run/secrets/{{ container_name }}_mariadb_password"
        MYSQL_DATABASE: "{{ mariadb_database }}"
        MYSQL_ROOT_PASSWORD_FILE: "/run/secrets/{{ container_name }}_mariadb_root_password"
        TZ: "Europe/Berlin"
      timezone: "Europe/Berlin"
  tags: podman_container_create

- name: Create backup directory {{ mariadb_container_name }}
  ansible.builtin.file:
    path: "{{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups"
    state: directory
    owner: "{{ _owner }}"
    group: "{{ _group }}"
    mode: '0700'
  register: _backup_dir_create
  tags:
    - mariadb_backup

- name: Ensure bzip2 is installed
  ansible.builtin.package:
    name: bzip2
    state: present
  tags:
    - mariadb_backup

- name: Add cronjob for daily dump of mariadb {{ mariadb_database }}
  become: "{{ podman_rootless | bool }}"
  become_user: "{{ podman_user if podman_rootless | bool else omit }}"
  ansible.builtin.cron:
    name: "Daily dump of mariadb {{ mariadb_database }}"
    minute: "11"
    hour: "*/4"
    job: "podman exec {{ mariadb_container_name }} sh -c 'exec mariadb-dump --lock-tables --all-databases --user=root --password={{ mariadb_root_password }}' >
      {{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups/{{ mariadb_container_name }}.sql;
      bzip2 -f {{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups/{{ mariadb_container_name }}.sql"
  tags:
    - mariadb_backup

- name: Configure logrotate for the database dump
  ansible.builtin.template:
    src: logrotate.cfg.j2
    dest: "/etc/logrotate.d/{{ mariadb_container_name }}.cfg"
    mode: '0644'
  tags:
    - mariadb_backup

- name: Selinux enable logrotate on NFS
  ansible.posix.seboolean:
    name: logrotate_use_nfs
    state: true
    persistent: true
  when:
    - ansible_selinux and ansible_selinux.status == "enabled"
  tags:
    - mariadb_selinux

- name: Set selinux policy for backup rotation
  community.general.sefcontext:
    target: '{{ item.target }}'
    setype: "{{ item.setype }}"
    reload: true
    state: "{{ item.state }}"
  register: filecontext
  with_items:
    - {target: '{{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups(/.*)?', setype: 'var_log_t', state: 'present'}
  when:
    - ansible_selinux and ansible_selinux.status == "enabled"
  tags:
    - mariadb_selinux

- name: Run restore context to reload selinux
  ansible.builtin.command: |
    restorecon -F -R -v {{ item.target }}
  with_items:
    - {index: 0, target: '{{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups'}
  when:
    - filecontext.results[item.index] is changed or _backup_dir_create.changed | bool
    - ansible_selinux and ansible_selinux.status == "enabled"
  register: _result
  changed_when: _result.rc != 0
  tags:
    - mariadb_selinux
