{{ _container_storage_dir_base }}/{{ mariadb_container_name }}_backups/{{ mariadb_container_name }}.sql.bz2 {
 daily
 rotate 20
 copy
 dateext
 dateyesterday
 missingok
 notifempty
 create 660 root root
}